@font-face {
    font-family: 'Squealer';
    src: url('fonts/Squealer.woff2') format('woff2'),
        url('fonts/Squealer.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: calc(11px + 1vw);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

body {
  margin: 0
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

h1,h2,h3{
  font-family: 'Squealer', sans-serif;
}

img{
  height: auto;
}

a{
  color: inherit;
}


.videoBG{
  object-fit: cover;
  object-position: 5% 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.scrim{
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(39, 24, 10,0.75);
  z-index: -1;
}

.section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.2rem 0;
}

.section--intro{
  min-height: 100vh;
  padding-bottom: 4.8rem;
}

.title{
  line-height: 1.35;
  color: #fff;
  margin-top: 0;
  font-size: 2.25rem;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Squealer', sans-serif;
}

.title--intro{
  font-size: 3rem;
}

.title__smaller{
  font-size: 1.7rem;
}

.title--credits{
  color: #000;
  text-shadow: initial;
  max-width: 12em;
  font-size: 1.5rem;
  margin: 0 auto 1.6rem;
}

.button{
  font-size: 1.5rem;
  -webkit-box-shadow: inset -0.125em -0.125em 0.25em 0.125em rgba(255,255,255,0.35), -0.125em -0.125em 0.25em 0.125em rgba(0,0,0,0.35), inset 0.125em 0.125em 0.25em 0.125em rgba(0,0,0,0.35), 0.125em 0.125em 0.25em 0.125em rgba(255,255,255,0.35); 
  box-shadow: inset -0.125em -0.125em 0.25em 0.125em rgba(255,255,255,0.35), -0.125em -0.125em 0.25em 0.125em rgba(0,0,0,0.35), inset 0.125em 0.125em 0.25em 0.125em rgba(0,0,0,0.35), 0.125em 0.125em 0.25em 0.125em rgba(255,255,255,0.35);
  border-radius: 5px;
  font-family: 'Squealer', sans-serif;
  background-color: #cacaca;
  padding: 0.6rem 1.2rem;
  margin: 1em;
  text-decoration: none;
}



.appBadge {
    width: 12rem;
    display: block;
    margin: 0;
    cursor: pointer;
}

.morelink{
  position: absolute;
  bottom:1em;
  left:50%;
  transform:translateX(-50%);
}

.bookcover{
  height: 75vh;
  width: auto;
  max-width: calc(100vw - 3.2rem);
  max-height: calc((100vw - 3.2rem ) / 600 * 900 );
  box-shadow: 3px 3px 10px #000;
}

.booklinks{
 display: flex;
 max-width: 18rem;
 width: calc(100vw - 3.2rem);
 justify-content: space-between;
 color: #fff;
 font-size: 1.7rem;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Squealer', sans-serif;
}

.booklinks a{
  text-decoration: none;
}

.videoplayer{
  width: calc(80vh / 1138 * 640); 
  max-width: calc(100vw - 3.2rem);
  height: 80vh;
  max-height: calc((100vw - 3.2rem ) * 1138 / 640 );
  box-shadow: 3px 3px 10px #000;
}

.bandcamp{
  max-width: calc(100vw - 3.2rem);
}


.credits{
  flex-shrink: 0;
  background: #f5f2dc;
  box-shadow: 3px 3px 10px #000;
  border-radius: 2px;
  padding: 1.6rem;
  margin: 1.6rem 0.8rem 0;
}

.credits h4{
  text-transform: uppercase;
  font-weight: normal;
  margin:1.6rem 0 0;
}

.credits p{
  margin-top: 0;
}

ul.nobullets{
  margin-top: 0;
  padding-left:0;
}

ul.nobullets li{
  display: block;
  font-size: .8em;
}
